@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body{
  color: white;
  font-family: Poppins;
  background-color: rgb(28 25 23);
}

.navbar-item{
  font-weight: 600;
  text-transform: lowercase;
  border-bottom: 2px solid transparent;
}

.navbar-item:hover{
  border-bottom: 2px solid;
  border-color: rgb(203 213 225 / var(--tw-border-opacity));
}

.navbarfiller{
  background-image: url('../public/majiko.png');
  background-size: cover;
}

.animated{
  margin-top: -0.15rem
}

.animated div:first-child {
  animation: text-animation 8s infinite;
}

.animated > div > div{
  display: inline-block;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -2.22rem;}
  30% {margin-top: -2.22rem;}
  40% {margin-top: -4.75rem;}
  60% {margin-top: -4.75rem;}
  70% {margin-top: -2.22rem;}
  80% {margin-top: -2.22rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}

@media only screen and (max-width: 650px) {
  .navbarfiller{
  background-size: cover;
  }
}