@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  color: white;
  font-family: Poppins;
  background-color: rgb(28 25 23);
}

figcaption{
  transition: 1s ease-in-out;
}

.project{
  border: 2px solid transparent;
  border-radius: 0.25rem;
  transition: 0.5s ease-in-out;
}

.project:hover{
  box-shadow: 0px 0px 25px 2px rgb(122, 220, 255);
  border: 2px solid rgb(255, 255, 255);
  transform: scale(0.95);
}

.readmore{
  transition: 0.25s ease-in-out;
}

.project:hover figcaption{
  color: cyan;
  height: 100%;
}

.navbar-item{
  font-weight: 600;
  text-transform: lowercase;
  border-bottom: 2px solid transparent;
  transition: 0.25s ease-in-out;
}

.navbar-item:hover{
  border-bottom: 2px solid;
  border-color: rgb(203 213 225 / var(--tw-border-opacity));
}

.navbarfiller{
  background-image: url('../public/majiko.png');
  background-size: cover;
}

.animated{
  margin-top: -0.15rem
}

.animated div:first-child {
  animation: text-animation 8s infinite;
}

.animated > div > div{
  display: inline-block;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -2.22rem;}
  30% {margin-top: -2.22rem;}
  40% {margin-top: -4.75rem;}
  60% {margin-top: -4.75rem;}
  70% {margin-top: -2.22rem;}
  80% {margin-top: -2.22rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}

@media only screen and (max-width: 650px) {
  .navbarfiller{
  background-size: cover;
  }
}
